.container {
    margin: 100px;
    text-align: center;
}

.container p {
    border-radius: 5px;
    background: white;
    border: 2px dotted #ccc;
    padding: 35px 75px;
    margin: 0;
}

.container input {
    appearance: none;
}

.container p:hover {
    cursor: pointer;
    border: 2px dotted #787878;
}

