.container {
  text-align: center;
  color: white;
  padding: 35px;
}

.container p {
  border-radius: 15px;
  background: white;
  color: gray;
  border: 2px dotted #ccc;
  padding: 5% 35%;
  margin: 0;
}

.container input {
  appearance: none;
}

.container p:hover {
  cursor: pointer;
  border: 2px dotted #787878;
}

button {
  padding: 15px 32px;
  font-size: 15px;
  margin: 30px;
  background: transparent;
  border-radius: 30px;
  border-color: white;
  border-width: 2px;
  color: white;
}

button:hover {
  background: white;
  color: rgb(95, 92, 177);
}
