name: Deploy to Firebase

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Build
      run: |
        npm install
        cd ./functions
        npm install
        cd ..
        npm run build
    - name: Firebase Deploy
      run: |
        sudo npm install -g firebase-tools
        firebase deploy --only hosting --token ${{ secrets.FIREBASE_TOKEN }}
        cd ./functions
        npm install
        firebase deploy --only functions --token ${{ secrets.FIREBASE_TOKEN }}

